.btn {
  color: $c-dark;
  font-weight: 400;
  vertical-align: middle;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  padding: 7px;
  border-right: 1px solid #ccc;
  display: inline-block;
  &:last-child {
    border-right: none;
  }
  &--back {
    &:before {
      @include iconize;
      content: $icon-circle-left;
      margin-right: 10px;
    }
  }
}