.menu {
  display: none;
  &-main {
    &__profile {
      display: flex;
      &__avatar {
        position: relative;
        width: 64px;
        height: 64px;
        overflow: hidden;
        &>img {
          @include absCenter;
        }
      }
      &__name {
        flex: 1 0 auto;
      }
      &__sync {

      }
    }
  }
  &-options {
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 5px;
    background-color: $c-light-gray;
    box-shadow: -2px 2px 2px $c-light-gray2;
    &>ul {
      &>li {
        border-bottom: 1px solid $c-light-gray2;
        &>* {
          padding: 10px;
          &:first-letter {
            text-transform: uppercase;
          }
          &:hover {
            background-color: $c-orange;
          }
        }
      }
    }
  }
}