.notes {
  position: relative;
  background-color: $c-light-gray;
  padding: 5px 0;
  z-index: 1;
  &__item {
    position: relative;
    background-color: $c-basic2;
    display: flex;
    padding: 0 7px;
    margin: 5px;
    //margin-right: 30px;
    align-items: center;
    //height: 36px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $c-basic;
    }
    &__link {
      display: flex;
      align-items: center;
      //margin-right: 30px;
      padding: 7px 0;
    }
    &__check {
      display: block;
      //position: absolute;
      //left: 100%;
      position: relative;
      padding: 7px;
      &:before {
        @include iconize;
        content: $icon-checkbox-unchecked;
      }
    }
    &__title {
      flex: 1 0 auto;
      max-width: 85%;
    }
    &__status {
      display: none;
      margin: 0 5px;
      &::before {
        @include iconize;
      }
      &--checklist {
        display: block;
        &::before {
          content: $icon-check;
        }
      }
    }
    &__date {
      font-size: 0.7rem;
      color: $c-light-gray3;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50px;
      height: 25px;
    }
  }
  [type="checkbox"]:checked+*+.notes__item__check {
    &:before {
      content: $icon-checkbox-checked;
      font-size: 1rem;
      line-height: 1rem;
    }
  }
  [type="checkbox"]:checked+.notes__item {
    &:before {
      content: '';
      @include absolute;
      border: 1px solid $c-dark;
      background-color: rgba($c-dark, .2);
    }
  }
}